<!-- tasks-behaviors-index.handlebars -->
<!DOCTYPE html>

<div class="col-md-4 col-md-offset-2">
    <h1>Tasks</h1>
    {{#each tasks}}
        <div class="checkbox">
            <label>
                <a href="/tasks/{{this._id}}">
                    <input type="checkbox" name="{{this._id}}">{{this.name}}
                </a>
            </label>
            <p>{{this.date}}</p>
            <p>{{this.description}}</p>
        </div>

        <form method="GET" action="/tasks/{{this._id}}/edit">
            <button type="submit">Edit</button>
        </form>

        <form method="POST" action="/tasks/{{this._id}}?_method=DELETE">
            <button type="submit">Delete</button>
        </form>

    {{/each}}
</div>

<div class="col-md-4">
    <h1>Behaviors<h1>
        {{#each behaviors}}
            {{#if this.numImpact}}
                <h2 class="text-success">Good Behaviors</h2>
                <ul>
                    <li class="text-success"><a href="/behaviors/{{this._id}}">{{this.name}}</a></li>
                </ul>
                <form method="GET" action="/behaviors/{{this._id}}/edit">
                    <button type="submit">Edit</button>
                </form>
                <form method="POST" action="/behaviors/{{this._id}}?_method=DELETE">
                    <button type="submit">Delete</button>
                </form>
            {{else}}
                <h2 class="text-danger">Bad Behaviors</h2>
                <ul>
                    <li class="text-danger"><a href="/behaviors/{{this._id}}">{{this.name}}</a></li>
                </ul>
                <form method="GET" action="/behaviors/{{this._id}}/edit">
                    <button type="submit">Edit</button>
                </form>
                <form method="POST" action="/behaviors/{{this._id}}?_method=DELETE">
                    <button type="submit">Delete</button>
                </form>
            {{/if}}
        {{/each}}
</div>
