<!-- tasks-behaviors-index.handlebars -->

<div class="col-md-4 col-md-offset-2">
    <h1>Tasks</h1>
    {{#each tasks}}
        <div class="checkbox bg-info">
            <form class="form-inline" method="POST" action="/tasks/{{this._id}}?_method=DELETE">
                <label class="form-group">
                    <a href="/tasks/{{this._id}}">
                        <input type="checkbox" name="{{this._id}}">{{this.name}}
                    </a>
                </label>
                <a class="form-group btn btn-warning btn-xs" href="/tasks/{{this._id}}/edit" role="button">Edit</a>
                <button class="form-group btn btn-danger btn-xs" type="submit">Delete</button>
            </form>

            <p>Due: {{this.dueInMonth}} {{this.dueOnDay}} at {{this.dueAtTime}}</p>
            <p>{{this.description}}</p>
            <a class="btn btn-primary btn-xs" role="button" href="#{{this._id}}"
                data-toggle="collapse" aria-expanded="true" aria-controls="subtasks">
                    Subtasks
                    <span class="caret"></span>
            </a>
        </div>

        <div class="in collapse" id="{{this._id}}">
            <div class="well">
                {{#each this.subtask}}
                    <div class="col-md-offset-1 checkbox bg-info">
                        <input type="checkbox" name="{{this._id}}">{{this.name}}
                    </div>
                {{/each}}

                <form class="form-inline" method="POST" action="/tasks/{{this._id}}/subtasks">
                    <div class="form-group">
                        <textarea name="name" placeholder="Add Subtask"></textarea>
                    </div>
                    <button class="btn btn-default" type="submit">Add</button>
                </form>
            </div>
        </div>
    {{/each}}
</div>

<div class="col-md-4">
    <h1>Behaviors<h1>
        <h2 class="text-success">Good Behaviors</h2>
        <dl>
            {{#each behaviors}}
                {{#if this.isPositive}}
                    <div class="bg-success">
                        <form class="form-inline" method="POST" action="/behaviors/{{this._id}}?_method=DELETE">
                            <dt class="form-group text-success"><a href="/behaviors/{{this._id}}">{{this.name}}</a></dt>
                            <a class="form-group btn btn-warning btn-xs" href="/behaviors/{{this._id}}/edit" role="button">Edit</a>
                            <button class="form-group btn btn-danger btn-xs" type="submit">Delete</button>
                        </form>

                        <dd class="text-success">{{this.description}}</dd>
                    </div>
                {{/if}}
            {{/each}}
        </dl>
        <h2 class="text-danger">Bad Behaviors</h2>
        <dl>
            {{#each behaviors}}
                {{#unless this.isPositive}}
                <div class="bg-danger">
                    <form class="form-inline" method="POST" action="/behaviors/{{this._id}}?_method=DELETE">
                        <dt class="form-group text-danger"><a href="/behaviors/{{this._id}}">{{this.name}}</a></dt>
                        <a class="form-group btn btn-warning btn-xs" href="/behaviors/{{this._id}}/edit" role="button">Edit</a>
                        <button class="form-group btn btn-danger btn-xs" type="submit">Delete</button>
                    </form>

                    <dd class="text-danger">{{this.description}}</dd>
                </div>
                {{/unless}}
            {{/each}}
        </dl>
</div>
